<div class="nested-fields row">
  <div class="large-8 small-6 columns">
		<%= f.file_field :asset_file, :placeholder => "name" %>
		<%= f.hidden_field :asset_file_cache %>
	</div>    
	
	<div class="large-2 columns">	
		<%= f.text_field :page_number, :placeholder => "page number" %>
	</div>

	<div class="large-2 columns">	
		<%= link_to_remove_association "Remove page", f, :class => "button tiny alert" %>
	</div>
</div>


